@media (max-width: 768px){
    .nav_ul {
        display: none;
    }
    .burger {
        display: block;
        z-index: 10;
    }
    .mobile_nav {
        position: relative;
        transition: all 300ms ease-in-out;
        list-style:none;
        display: grid;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: #000;
        place-content: center;
        z-index: 2;
    }
    .mobile_nav li {
        margin: 0.8em 0;
    }
    .mobile_nav li a {
        color: #fff;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid #fff;
    }
    .mobile_nav.active {
        left: 0;
    }
}
